/* Font */
body {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

.secondary-size {
    font-size: 14px;
}

.sub-size {
    font-size: 20px;
}

.header-size {
    font-size: 26px;
}

.anton {
    font-family: 'Anton', sans-serif;
}

.brand-font {
    font-family: 'Anton', sans-serif;
    font-size: 30px;
}

.open-sans {
    font-family: 'Open Sans', sans-serif;
}

.text-center{
    text-align: center;
}
/* Custom text color */
.txt-color-x-light {
    color: #FFF !important;
}

.txt-color-light {
    color: #F7F7F7 !important;
}

.txt-color-mid-x-light {
    color: #E5E5E5 !important;
}

.txt-color-mid-light {
    color: #CDCDCD !important;
}

.txt-color-mid-dark {
    color: #666 !important;
}

.txt-color-dark {
    color: #111 !important;
}

.txt-color-x-dark {
    color: #000 !important;
}

.txt-color-negative {
    color: #c7162b !important;
}

.txt-color-caution {
    color: #f99b11 !important;
}

.txt-color-positive {
    color: #0e8420 !important;
}

.txt-color-link {
    color: #06c !important;
}

.txt-brand-color {
    color: #fee5ac !important;
}

/* Custom background color */
.bg-color-x-light {
    background-color: #FFF;
}

.bg-color-light {
    background-color: #F7F7F7;
}

.bg-color-mid-x-light {
    background-color: #E5E5E5;
}

.bg-color-mid-light {
    background-color: #CDCDCD;
}

.bg-color-mid-dark {
    background-color: #666;
}

.bg-color-dark {
    background-color: #111;
}

.bg-color-x-dark {
    background-color: #000;
}

.bg-color-negative {
    background-color: #c7162b;
}

.bg-color-caution {
    background-color: #f99b11;
}

.bg-color-positive {
    background-color: #0e8420;
}

.bg-color-link {
    background-color: #06c;
}

.bg-brand-color {
    background-color: #fee5ac;
}

/* my nav */
#my__nav a {
    color: #FFF;
    text-decoration: none;
    border-bottom: transparent solid 1px;
}
#my__nav a:hover {
    color: #FFF;
    border-bottom: #FFF solid 1px;
}

/* card */
.card-img-top {
    width: 100%;
    height: 18rem;
    object-fit: cover;
}

.card {
    border: none;
}

.card-img {
    height: 30rem;
    object-fit: cover;
}

.card-border {
    border-style: solid;
    border-width: 2px;
    border-color: #111;
}

/* form control */
.form-select:focus {
    border-color: #06c;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 102, 204, 0.6);
  }

.footer-padding {
    padding-top: 10px;
    padding-bottom: 10px;
}

.cart-img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}

.vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}